## 기본 데이터 분석

In [78]:
import pandas as pd
df19 = pd.read_csv('./data/1. 19년도-과정이수및평가점수.csv', encoding='euc-kr')
df15 = pd.read_excel('./data/2. 15-19년전체집계.xlsx')

----------------
<span style="color:yellow">1. pandas 로 데이터 전처리 및 저장<span>

사전 데이터 분석 결과로부터 사실은 결측치일 가능성이 높다고 판명된, df15 자료의 0점 처리된 C, E, F, G 과목성적을 다시 결측치로 치환한다.  
또한 학과명 실내디자인과(학부) 를 실내디자인과 로 치환 후 새로운 파일로 저장한다.

In [79]:
df15 = df15.replace({'학과': {'실내디자인과(학부)':'실내디자인과'}})

In [112]:
from numpy import NaN
df15 = df15.replace({'C과목': {0.0: NaN}})
df15 = df15.replace({'E과목': {0.0: NaN}})
df15 = df15.replace({'F과목': {0.0: NaN}})
df15 = df15.replace({'G과목': {0.0: NaN}})
df15.to_excel('./data/pdf15.xlsx', index=False)
pdf15 = pd.read_excel('./data/pdf15.xlsx')

In [113]:
pdf15.head()

,연도,학과,학생구분,응시자수,A과목,B과목,F과목,D과목,G과목,C과목,E과목
0,2019,건축설비소방과,신입생,70,3.028571,4.514286,NaN,3.400000,NaN,3.914286,3.728571
1,2019,건축학부,신입생,229,2.982533,4.903930,NaN,3.489083,NaN,3.572052,3.589520
2,2019,경영학부,신입생,147,2.829932,4.544218,NaN,3.993197,NaN,3.659864,3.741497
3,2019,글로벌외식조리학부,신입생,147,3.136054,4.265306,NaN,3.476190,NaN,3.700680,3.829932
4,2019,기계과,신입생,87,3.022989,4.321839,NaN,3.229885,NaN,3.701149,3.747126

In [114]:
pdf15.tail()

,연도,학과,학생구분,응시자수,A과목,B과목,F과목,D과목,G과목,C과목,E과목
273,2015,스포츠지도과,재학생,40,2.650000,4.375000,3.475000,3.300000,3.850000,NaN,NaN
274,2015,호텔조리과,재학생,15,3.933333,5.266667,3.466667,4.133333,4.333333,NaN,NaN
275,2015,호텔외식서비스과,재학생,15,3.400000,4.533333,3.400000,3.800000,4.333333,NaN,NaN
276,2015,언어재활과,재학생,29,3.586207,5.103448,3.724138,3.206897,4.482759,NaN,NaN
277,2015,중국비즈니스과,재학생,27,2.851852,4.814815,3.444444,3.925926,4.333333,NaN,NaN

----------------
<span style="color:yellow">2. <span>