이보시오, 그러면 힘들게 배운 머신러닝은 도대체 언제 써먹는단 말이오?

In [1]:
print('설무아쌤 웁니다')

설무아쌤 웁니다

![SortingHat](./image/SortingHat.jpg)

Magical... 아니고 MachineLearning Sorting Hat 은 어떨까?

학과 <- 학년, 반, 과목이수X5, 과목점수X5  
주어진 정보를 이용하여 신입생에게 학과를 배정해보자... 는 MSH project...  
1,1,2,1,2,2,2,2,5,3,5,3 이니까 그리핀도르... 아니고 전기과!

----------------
<span style="color:yellow">1. pandas 로 데이터 전처리 및 저장<span>

In [14]:
import pandas as pd
df19 = pd.read_csv('./data/1. 19년도-과정이수및평가점수.csv', encoding='euc-kr')

학생구분 은 학년 에 종속되어 결정되는 변수이므로 삭제하고 반 99 는 7로 변경한다.  
또한 비교적 분리가 쉬울 것으로 예상되는 전기과, 스포츠지도과, 아동문헌정보과 만 남긴 후 저장한다.

In [15]:
df19 = df19.replace({'반': {99: 7}}).drop('학생구분', axis=1)
df19 = df19[((df19['학과']=='전기과') | (df19['학과']=='스포츠지도과') | (df19['학과']=='아동문헌정보과'))]
df19.to_csv('./data/pdf19.csv', index=False, encoding='euc-kr')

In [17]:
pdf19 = pd.read_csv('./data/pdf19.csv', encoding='euc-kr')
pdf19

,학과,학년,반,A과목이수,B과목이수,C과목이수,D과목이수,E과목이수,A과목점수,B과목점수,C과목점수,D과목점수,E과목점수
0,스포츠지도과,1,1,2,2,2,2,2,4,6,5,5,4
1,스포츠지도과,1,1,2,2,2,2,2,5,5,0,3,3
2,스포츠지도과,1,1,2,2,2,2,2,2,4,3,3,2
3,스포츠지도과,1,1,2,2,2,2,2,2,5,3,4,4
4,스포츠지도과,1,1,2,2,2,2,2,3,6,4,2,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
324,전기과,3,2,2,2,1,1,2,4,5,5,4,5
325,전기과,3,2,2,2,1,2,2,2,7,6,7,5
326,전기과,3,2,2,1,1,2,2,2,7,6,7,5
327,전기과,3,2,2,2,2,1,1,1,3,3,7,4
328,전기과,3,2,1,1,2,1,1,2,7,6,7,5